# Try it yourself

4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these
pizza names in a list, and then use a for loop to print the name of each pizza.

- Modify your for loop to print a sentence using the name of the pizza,
instead of printing just the name of the pizza. For each pizza, you should
have one line of output containing a simple statement like I like pep-
peroni pizza.

- Add a line at the end of your program, outside the for loop, that states
how much you like pizza. The output should consist of three or more lines
about the kinds of pizza you like and then an additional sentence, such as
I really love pizza!

In [4]:
fav_pizzas = ["hawaiian", "Cheese", "Pepperoni" ]

for flavour in fav_pizzas:
    print(f'I like {flavour.title()} pizza')

print("I really love pizza")

I like Hawaiian pizza
I like Cheese pizza
I like Pepperoni pizza
I really love pizza

4-2. Animals: Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to
print out the name of each animal.

- Modify your program to print a statement about each animal, such as A
dog would make a great pet.

- Add a line at the end of your program, stating what these animals have in
common. You could print a sentence, such as Any of these animals would
make a great pet!

In [7]:
animals = ["Dog", "Cat", "Hammster"]

for animal in animals:
    print(f"A {animal} ould make a great pet")
print("Any of these animals would make a great pet!")

A Dog ould make a great pet
A Cat ould make a great pet
A Hammster ould make a great pet
Any of these animals would make a great pet!

4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to 20,
inclusive.

In [8]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

4-4. One Million: Make a list of the numbers from one to one million, and then use a for loop to print the numbers. (If the output is taking too long, stop it by pressing CTRL-C or by closing the output window.)

In [12]:
for i in range(1,1_000_001,100_000):
    print(i)

1
100001
200001
300001
400001
500001
600001
700001
800001
900001

Summing a Million: Make a list of the numbers from one to one million, and then use min() and max() to make sure your list actually starts at one and ends at one million. Also, use the sum() function to see how quickly Python can add a million numbers.

In [16]:
numbers = list(range(1,1_000_001))
min(numbers), max(numbers), sum(numbers)

(1, 1000000, 500000500000)

4-6. Odd Numbers: Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.

In [20]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

4-7. Threes: Make a list of the multiples of 3, from 3 to 30. Use a for loop to print the numbers in your list.

In [22]:
trhees = [3*i for i in range(1,11)]
for i in trhees:
    print(i)

3
6
9
12
15
18
21
24
27
30

4-8. Cubes: A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [23]:
cubes = [i**3 for i in range(1,11)]
for i in cubes:
    print(i)

1
8
27
64
125
216
343
512
729
1000

4-9. Cube Comprehension: Use a list comprehension to generate a list of the first 10 cubes.

In [24]:
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]